*.png filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
*sparse_data*.csv  !filter !diff !merge text
*spatial_parameters*.csv  !filter !diff !merge text
spatial_map_14400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_34200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_39600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_44400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_45600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_57000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_63000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_49200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_67800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_76200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_78000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_38400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_54000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_60000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_24600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_30600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_33000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_50400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_42600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_58200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_84000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_4200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_81600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_25800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_47400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_70800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_82200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_16800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_22200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_36000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_37200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_4800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_6600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_73800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_10800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_12600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_23400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_46200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_parameters.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_13800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_27600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_34800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_51000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_52200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_76800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_85200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_18600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_3000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_74400s.csv filter=lfs diff=lfs merge=lfs -text
sparse_data.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_17400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_22800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_2400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_3600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_85800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_9000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_19800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_43800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_63600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_77400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_1800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_24000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_70200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_21000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_43200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_51600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_53400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_68400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_9600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_31200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_61800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_1200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_40200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_5400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_12000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_15000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_28800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_55800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_58800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_72600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_73200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_7800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_40800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_52800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_55200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_81000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_84600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_13200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_18000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_24h.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_27000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_37800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_56400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_26400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_31800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_36600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_71400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_48000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_67200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_7200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_82800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_120h.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_46800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_54600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_62400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_66600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_32400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_69600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_75000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_86400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_29400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_48600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_64200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_66000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_79800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_15600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_21600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_41400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_61200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_64800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_69000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_79200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_19200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_42000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_45000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_59400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_60600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_65400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_75600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_8400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_16200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_20400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_33600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_48h.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_6000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_72000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_10200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_30000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_35400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_80400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_83400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_11400s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_57600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_72h.csv filter=lfs diff=lfs merge=lfs -text
time_series.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_25200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_28200s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_39000s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_49800s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_78600s.csv filter=lfs diff=lfs merge=lfs -text
spatial_map_96h.csv filter=lfs diff=lfs merge=lfs -text
